<!----------------NAVBAR------------->

<nav class="nav flex items-center justify-between">
    <img src="assets/img/effectaute_logo.png" class="p-1" height="40px" width="50px" alt="logo">
    <div class="hamburger" (click)="toggleclick()">
        <i class="fas fa-bars" style="font-size: 20px;"></i>
    </div>
    <ul>
        <li class="flex items-center"> <a href="#">Home</a> </li>
        <li><a href="#about-home">About</a></li>
        <li><a href="#service-home">Service</a></li>
        <li><a href="#career-home">Career</a></li>
        <li><a href="#contact-home">Contact</a></li>
    </ul>
</nav>

<!----------------HOME TOP-------------->


<section class="wlt-banner">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="wlt-banner-content">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <!-- <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div> -->
                        <div class="carousel-inner">

                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="assets/img/slide.png" class="d-block" alt="...">
                                <div class="carousel-caption">
                                    <h1><span>D</span>esign</h1>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="assets/img/slide.png" class="d-block" alt="...">
                                <div class="carousel-caption">
                                    <h1><span>D</span>evelop</h1>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="assets/img/slide.png" class="d-block" alt="...">
                                <div class="carousel-caption">
                                    <h1><span>T</span>est</h1>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!---------------------Why-Choose-Us----------------->

<section class="why-choose-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 why">
                <h3 data-aos="fade-up" data-aos-duration="2000" class="whychooseus-title">
                    Why Choose US?
                </h3>
                <p class="whychooseus-text" data-aos="fade-up" data-aos-duration="2000">
                    <b style="font-size: 28px;">Effectuate Tech Solutions</b> is a leading software development and web
                    Solutions
                    Company in coimbatore targeted to its customer's success, customers
                    can choose services specified with their desires from the conception .
                    Our company has highly professional and qualified persons. All the
                    work done is by the expertise developers.
                </p>
                <ul data-aos="fade-up" data-aos-duration="2000">
                    <li><img src="assets/icon/web.png"><span>High Quality Coding</span></li>

                    <li><img src="assets/icon/coding (2).png">Export Developers </li>

                    <li><img src="assets/icon/test.png">High Quality Testing</li>

                    <li><img src="assets/icon/chronometer.png">Uptime and reliability</li>

                    <li><img src="assets/icon/development.png">Mobile Apps Included For E-Commerce Packages</li>

                </ul>
            </div>
            <div class="col-lg-6 order-first">
                <img src="https://www.softrizon.com/wp-content/uploads/2020/12/outsource-software-development.svg"
                    class="img-fluid why-choose-us-img" alt="Why Choose Albega" data-aos="fade-up"
                    data-aos-duration="2000" />
            </div>
        </div>
    </div>
</section>

<!------------------Mission and vision----------------------------->


<div class="container mb-5">
    <div class="row mission">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center mission-pic">
            <img src="https://www.fims.ac.in/wp-content/themes/FIMS/img/mission.png" height="50%" width="40%" alt="" />
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 text-center">
            <div class="text-center text-primary mission-heading mb-3">MISSION</div>
            Our mission is to enhance business growth of our customers with creative design, development and to deliver
            market defining high quality solutions that create value and reliable competitive advantage to customers
            around the globe.
        </div>
    </div>
    <div class="row vision">
        <div class="col-lg-8 col-md-6 col-sm-12 text-center">
            <div class="text-center text-primary mission-heading mb-3">VISION</div>
            Effectaute Tech Solutions is one of the prominent software companies that helps other organizations to
            transform into digital enterprises. It differentiates you from competitors in the market and provides better
            engagement with customers, partners and employees.
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center vision-pic">
            <img src="https://www.fims.ac.in/wp-content/themes/FIMS/img/Vision.png" height="50%" width="40%" alt="" />
        </div>
    </div>
</div>



<!--------------------work method------------------------------>
<div id="work-method">
    <div class="container">
        <div class="row align-item-center text-center">
            <div class="col-sm-12 col-md-6 col-lg-3 eng eng-line">
                <div class="work-method">
                    <img class="eng-img"
                        src="https://www.ogsoftwaresolutions.com/wp-content/uploads/2019/09/planing.png" alt="">
                </div>
                <div class="h5" id="eng-text">Planing</div>
                <div class="p-3 mb-3" id="p">
                    <p>Planning helps us to establish business requirements, cost, schedule, list of deliverables,
                        resources plans and delivery dates.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 eng eng-line">
                <div class="work-method">
                    <img src="https://www.ogsoftwaresolutions.com/wp-content/uploads/2019/09/design-development.png"
                        alt="" class="eng-img">
                </div>
                <div class="h5" id="eng-text">Design & Development</div>
                <div class="p-3 mb-3">
                    <p>During the design & development phase, everything that will be needed to implement the project is
                        arranged clearly.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 eng eng-line">
                <div class="work-method">
                    <img src="https://www.ogsoftwaresolutions.com/wp-content/uploads/2019/09/testing.png" alt=""
                        class="eng-img">
                </div>
                <div class="h5" id="eng-text">Testing & Delivery</div>
                <div class="p-3 mb-3">
                    <p>Testing is done at various levels of the manufacturing process say it at raw material testing,
                        process testing, and deliverable testing.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 eng">
                <div class="work-method">
                    <img src="https://www.ogsoftwaresolutions.com/wp-content/uploads/2019/09/Maintenance.png" alt=""
                        class="eng-img">
                </div>
                <div class="h5" id="eng-text">Maintenance</div>
                <div class="p-3 mb-3">
                    <p>The main purpose of maintenance is to modify and update software after delivery to correct faults
                        and to improve performance.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------FOOTER-------------------------->
<!-- <footer class="footer">
    <div class="flex flex-columns">
        <img src="https://i.pinimg.com/736x/f8/e6/85/f8e6853d1f3a8c4db11af920856646ab.jpg" height="50px" alt="">

        <div class="social-medias">

        </div>
    </div>

    <div class="flex flex-columns">
        <p>Company</p>
        <small>Careers</small>
        <small>Blog</small>
        <small>Press</small>
    </div>
    <div class="flex flex-columns">
        <p>Support</p>
        <small>Help Center</small>
        <small>Contact Us</small>
        <small>Security Bulletins</small>
        <small>Documentation</small>
        <small>Partner Portal</small>
    </div>
    <div class="flex flex-columns newsletter">
        <p>Follow us</p>
        <div class="flex items-center">
            <i class="bi-brands bi-facebook text-primary m-2"></i>
            <i class="bi-brands bi-instagram" style="color: rgb(184, 0, 95);"></i>
            <i class="bi-brands bi-twitter text-primary m-2"></i>
        </div>
    </div>
</footer> -->

<!------------------- Services Section Start -->

<div class="mt-5 mb-5">
    <div class="container">
        <div class="text-center">
            <h2 class="heading text-primary">
                Our Service Offerings
            </h2>
        </div>
        <div class="row">

            <div class="col-md-6  mb-3">
                <div class="services-item">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img"
                                src="https://effectuate.tech/assets/images/services/style2/main-img/1.png" alt="">
                            <img class="hover-img"
                                src="https://effectuate.tech/assets/images/services/style2/hover-img/1.png" alt="">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a class="text-decoration-none">Product Engineering</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6  mb-3">
                <div class="services-item pink-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img"
                                src="https://effectuate.tech/assets/images/services/style2/main-img/2.png" alt="">
                            <img class="hover-img"
                                src="https://effectuate.tech/assets/images/services/style2/hover-img/2.png" alt="">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a class="text-decoration-none">Data Analytics</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6  mb-3 ">
                <div class="services-item aqua-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img"
                                src="https://effectuate.tech/assets/images/services/style2/main-img/3.png" alt="">
                            <img class="hover-img"
                                src="https://effectuate.tech/assets/images/services/style2/hover-img/3.png" alt="">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a class="text-decoration-none">IT Consulting & Services</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6  mb-3">
                <div class="services-item paste-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img"
                                src="https://effectuate.tech/assets/images/services/style2/main-img/4.png" alt="">
                            <img class="hover-img"
                                src="https://effectuate.tech/assets/images/services/style2/hover-img/4.png" alt="">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a class="text-decoration-none">Cloud Services</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 sm- mb-3">
                <div class="services-item purple-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img"
                                src="https://effectuate.tech/assets/images/services/style2/main-img/5.png" alt="">
                            <img class="hover-img"
                                src="https://effectuate.tech/assets/images/services/style2/hover-img/5.png" alt="">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a class="text-decoration-none">Product Solutioning</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="services-item green-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img"
                                src="https://effectuate.tech/assets/images/services/style2/main-img/6.png" alt="">
                            <img class="hover-img"
                                src="https://effectuate.tech/assets/images/services/style2/hover-img/6.png" alt="">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a class="text-decoration-none">Business Consulting</a></h3>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!------------------service provide------------------------------------->



<div class="container-fluid service-img " id="service-home">
    <section class="service-grid pb-1 pt-1 text-center about">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center mb-2">
                    <div class="service-title">
                        <h2 class="text-primary">Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row p-margin">
                <div class="col-lg-4 col-md-6 text-center mb-3 ">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <i class="fas fa-layer-group"></i>
                        </div>
                        <h4>Designs & interfaces</h4>
                        <p class="service-text">Designers use to build interfaces in software or computerized devices,
                            focusing on
                            style...</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center mb-3">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <i class="far fa-chart-bar"></i>
                        </div>
                        <h4>Highly customizable</h4>
                        <p class="service-text">Our Company Customized website solution for your brand, business
                            objective, product,
                            or services...</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center mb-3">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <h4>Responsive design</h4>
                        <p class="service-text">Creates dynamic depending on the screen size and orientation of the
                            device being
                            used...</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center mb-3">
                    <div class="service-wrap mt-3">
                        <div class="service-icon">
                            <i class="fas fa-laptop-code"></i>
                        </div>
                        <h4>service </h4>
                        <p class="service-text"> Software <br>
                            Web Applications <br>
                            Mobile Applications
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center mb-3">
                    <div class="service-wrap mt-3">
                        <div class="service-icon">
                            <i class="fas fa-bug"></i>
                        </div>
                        <h4>Debug and Fix Problems</h4>
                        <p class="service-text">Isolate the source of the bug. Identify the cause of the bug.
                            Determine a fix for the bug.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center mt-3">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <h4>Customer support</h4>
                        <p class="service-text">service provided to help customers resolve any technical problems of the
                            product</p>
                    </div>
                </div>
            </div><br>
        </div>

    </section>
</div>


<!----------card Design----------------------->



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 mt-5  p-5 card-top" id="tech-home">
    <div class="text-center" class="tech-heading">
        <h3 class="text-primary">Technologies We Work On</h3>
    </div>
    <!-- <div class="row text-center">
        <div class="col-sm-6 col-md-3 col-lg-3 mb-4" id="card-top-text1">
            <h4 class="mb-3 text-primary">ANGULAR</h4>
            <h6>using Front End Development</h6>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-4" id="card-top-text2">
            <h4 class="mb-3 text-primary">PYTHON</h4>
            <h6>using Back End Development</h6>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-4" id="card-top-text3">
            <h4 class="mb-3 text-primary">REACT NATIVE</h4>
            <h6>using Mobile App Development</h6>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-4">
            <h4 class="mb-3 text-primary">MONOGO DB</h4>
            <h6>using Data Base Management</h6>
        </div>
    </div> -->
</div>

<!-- <div class="ets-card-full">
    <div class="card" id="card-bg">
        <div class="angular">ANGULAR</div>
        <img src="assets/img/angular_logo.png" height="75%" width="85%" class="p-5" />

        <div class="content">
            <h2>01</h2>
            <h3>Front End</h3>
            <p>
                <b>Angular</b> is a platform and framework for building single-page
                client applications using HTML and TypeScript. Angular is written in
                TypeScript.
            </p>
            <a href="">Read More</a>
        </div>
    </div>
    <div class="card" id="card-bg">
        <div class="angular">PYTHON</div>
        <img src="assets/img/python_logo.png" class="pt-4 pb-3" height="45%" width="45%" alt="" />
        <div class="content mt-5">
            <h2>02</h2>
            <h3>Back End</h3>
            <p>
                <b> Python</b> can be used on a server to create web applications.
                Python is a computer programming language often used to build websites
                and software.
            </p>
            <a href="">Read More</a>
        </div>
    </div>
    <div class="card" id="card-bg">
        <div class="angular">REACT NATIVE</div>
        <img src="assets/img/React_logo.webp" class="p-5" height="65%" width="80%" alt="" />
        <div class="content">
            <h2>03</h2>
            <h3>Mobile App</h3>
            <p>
                <b>React Native</b> is an open-source JavaScript framework, designed for
                building apps on multiple platforms like iOS, Android, and also web
                applications
            </p>
            <a href="">Read More</a>
        </div>
    </div>

    <div class="card" id="card-bg">
        <div class="angular">MONGO DB</div>
        <img src="assets/img/mongodb_logo.png" class="pb-2" height="40%" width="55%" alt="" />
        <div class="content">
            <h2>04</h2>
            <h3>Data Base</h3>
            <p>
                <b> MongoDB</b> is a document database used to build highly available
                and scalable internet applications.
            </p>
            <a href="">Read More</a>
        </div>
    </div>
</div> -->

<!--------------------------- services section -------------------->
<section id="services">

    <!-- <div class="title">
            <div class="title-text">
                <h1>Services</h1>
            </div>
            <div class="title-underline"></div>
        </div> -->


    <div class="services-container">
        <article class="service-item service-item-black">
            <div class="front-text">
                <i><img src="assets/img/angular_logo.png" height="60px" width="60px" alt=""></i>
                <h1 class="h3">Front-End Development</h1>
            </div>

            <div class="back-text">
                <h1 class="h3">ANGULAR</h1>
                <p><b>Angular</b> is a platform and framework for building single-page
                    client applications using HTML and TypeScript. Angular is written in
                    TypeScript.</p>
                <button type="button">Read More</button>
            </div>
        </article>


        <article class="service-item service-item-white">
            <div class="front-text">
                <i><img src="assets/img/python_logo.png" height="60px" width="60px" alt=""></i>
                <h1 class="h3">Back-End Development</h1>
            </div>

            <div class="back-text">
                <h1 class="h3">PYTHON</h1>
                <p><b> Python</b> can be used on a server to create web applications.
                    Python is a computer programming language often used to build websites
                    and software.</p>
                <button type="button">Read More</button>
            </div>
        </article>


        <article class="service-item service-item-black">
            <div class="front-text">
                <i><img src="assets/img/React_logo.webp" height="60px" width="60px" alt=""></i>
                <h1 class="h3">Mobile Applications</h1>
            </div>

            <div class="back-text">
                <h1 class="h3">REACT NATIVE</h1>
                <p> <b>React Native</b> is an open-source JavaScript framework, designed for
                    building apps on multiple platforms like iOS, Android, and also web
                    applications</p>
                <button type="button">Read More</button>
            </div>
        </article>


        <article class="service-item service-item-white">
            <div class="front-text">
                <i><img src="assets/img/mongodb_logo.png" height="60px" width="80px" alt=""></i>
                <h1 class="h3">Data Base</h1>
            </div>

            <div class="back-text">
                <h1 class="h3">MONOGO DB</h1>
                <p> <b>MongoDB</b> is a cross-platform, document oriented database that provides,
                    high performance and easy scalability.MongoDB works on concept of
                    collection and document.</p>
                <button type="button">Read More</button>
            </div>
        </article>

    </div>
</section>
<!-- end of services section -->

<!-------------------About Effectuate-------------------->
<section class="ets-about-intro" id="about-home">
    <div class="ets-about-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-2 p-0">
                    <div class="ets-about-title">
                        <h1>
                            <span>About</span> <br> Effectuate
                        </h1>
                    </div>
                </div>

                <div class="col-12 col-md-6 p-0">
                    <div class="ets-about-desc">
                        <p>Effectuate Tech Solutions is an Indian based Limited Company established in the year
                            2019. The Company received it's Incorporation in the year 2019. It took all these
                            years to bring the company this high after overcoming all hurdles that came across.
                            Our Company's goal is to deliver quality products on time with full customer
                            satisfaction. We are known for Hybrid and Native application development. We deliver
                            solutions to all Large and Small scale Enterprises. We have a handful of clients who
                            are happy with the solutions and services we had provided. We value our customers a
                            lot and so, We build a very strong business relationship with them.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-0">
                    <div class="ets-about-logo">
                        <img src="assets/img/effectaute_logo.png" class="img-fluid" alt="Logo">
                        <h1>Effectuate Tech Solutions <span>Pvt. Ltd.</span></h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!----------------------------Career---------------------------------->

<section class="ets-career-intro" id="career-home">
    <div class="ets-career-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-2 p-0">
                    <div class="ets-career-title">
                        <h1>
                            <span>Current </span> <br> Job Openings
                        </h1>
                    </div>
                </div>

                <div class="col-12 col-md-10">

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                        <div class="panel panel-default">
                            <div class="ets-panel-heading active" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne" class="">
                                        Full-Stack Developer
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel"
                                aria-labelledby="headingOne" aria-expanded="false">
                                <div class="panel-body">
                                    <div class="ets-collapse">
                                        <div class="ets-row">
                                            <div class="ets-job-title">
                                                Job Description
                                            </div>
                                            <div class="ets-job-desc">
                                                <ul>
                                                    <li>We are looking for Full-stack Developer.</li>
                                                    <li>Candidates who have very good knowledge in Angular,python can
                                                        apply. The Job nature will be Technology skill and Communication
                                                        Skill
                                                        is must.</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="ets-row">
                                            <div class="ets-job-title">
                                                Designation
                                            </div>
                                            <div class="ets-job-desc">
                                                Full-stack Developer
                                            </div>
                                        </div>

                                        <div class="ets-row">
                                            <div class="ets-job-title">
                                                Job Type
                                            </div>
                                            <div class="ets-job-desc">
                                                Full-time
                                            </div>
                                        </div>

                                        <div class="ets-row">
                                            <div class="ets-job-title">
                                                Required education
                                            </div>
                                            <div class="ets-job-desc">
                                                Computer related Degree Like., Bca,Cs,IT
                                            </div>
                                        </div>

                                        <div class="ets-row">
                                            <div class="ets-job-title">
                                                Experience
                                            </div>
                                            <div class="ets-job-desc">
                                                Fresher or Experienced
                                            </div>
                                        </div>

                                        <div class="ets-row">
                                            <div class="ets-job-email">
                                                <p>Interested candidates, Kindly send us your resume to <a>
                                                        hr@effectuate.com </a></p>
                                            </div>
                                            <div class="ets-job-apply">
                                                <a class="btn btn-secondary btn-sm">Apply Now</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-----------------------------contact---------------------------------->

<section class="contact-page-sec" id="contact-home">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-info">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-map-marked"></i>
                        </div>
                        <div class="contact-info-text">
                            <h2>address</h2>
                            <span>Kuttaiyur,Karamadai </span>
                            <span>Coimbatore.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contact-info-text">
                            <h2>E-mail</h2>
                            <span>info@effectuate.com</span>
                            <span>hr@effectuate.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-clock"></i>
                        </div>
                        <div class="contact-info-text">
                            <h2>office time</h2>
                            <span>Mon - Fri 9:00 am - 6.00 pm</span>
                            <span>Sat - Sun Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="contact-bg">
            <div class="col-md-8">
                <div class="contact-page-form" method="post">
                    <h2>Get in Touch</h2>
                    <form action="contact-mail.php" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-input-field">
                                    <input type="text" placeholder="Your Name" name="name" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-input-field">
                                    <input type="email" placeholder="E-mail" name="email" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-input-field">
                                    <input type="text" placeholder="Phone Number" name="phone" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-input-field">
                                    <input type="text" placeholder="Subject" name="subject" />
                                </div>
                            </div>
                            <div class="col-md-12 message-input">
                                <div class="single-input-field">
                                    <textarea placeholder="Write Your Message" name="message"></textarea>
                                </div>
                            </div>
                            <div class="single-input-fieldsbtn">
                                <input type="submit" value="Send Now" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-page-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1956.4255962540058!2d76.94837704085187!3d11.272347099034334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8ef334371eb51%3A0xb9bd8b803b92290a!2sPUGAL%20COMPLEX!5e0!3m2!1sen!2sin!4v1663309844920!5m2!1sen!2sin"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="col-sm-12 col-md-12 col-lg-12 h-100 w-100 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1956.4255962540058!2d76.94837704085187!3d11.272347099034334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8ef334371eb51%3A0xb9bd8b803b92290a!2sPUGAL%20COMPLEX!5e0!3m2!1sen!2sin!4v1663309844920!5m2!1sen!2sin" 
            class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div> -->

<!--------------FOOTER------------------------->
<section class="etc-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="etc-footer-about">
                    <div class="etc-visting-card">
                        <div class="etc-footer-logo">
                            <!-- <img src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png" alt=""> -->
                            <a href="#"><img src="assets/img/effectaute_logo.png" height="100px" alt=""></a>
                        </div>
                        <h1>Effectuate Tech Solutions Pvt. Ltd.</h1>
                    </div>
                    <p>We have a strong team comprising of well efficient and experienced Business Analysts, Designers,
                        Developers, Database Administrators, Quality Analysts and Business SEO experts. </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="etc-footer-links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#about-home">About us</a></li>
                        <li><a href="#tech-home">UX / UI Design</a></li>
                        <li><a href="#tech-home">Web Development</a></li>
                        <li><a href="#tech-home">Software Development</a></li>
                        <li><a href="#tech-home">Mobile Application</a></li>
                        <li><a href="#tech-home">Software Testing</a></li>
                        <li><a href="#career-home">Career</a></li>
                        <li><a href="#conatct-home">Contact us</a></li>
                        <li><a href="">Sitemap</a></li>
                    </ul>
                </div>

                <div class="etc-footer-social">
                    <h2>Follow Us</h2>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f text-primary"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter text-info"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" style="color: rgb(255, 0, 157);"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ets-copyrights">
    <div class="container">
        <p>Copyright © 2022 Effectuate Tech Solutions Pvt. Ltd. All Rights Reserved.</p>
    </div>
</section>


<!-- services section -->
<!-- <section id="services">

        <div class="title">
            <div class="title-text">
                <h1>Services</h1>
            </div>
            <div class="title-underline"></div>
        </div>

    
        <div class="services-container">
            <article class="service-item service-item-black">
                <div class="front-text">
                    <i><img src="assets/img/angular_logo.png" height="60px" width="60px" alt=""></i>
                    <h1 class="h3">Web Development</h1>
                </div>
    
                <div class="back-text">
                    <h1 class="h3">Web Development</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid debitis eaque placeat expedita ipsam, nihil et pariatur.</p>
                    <button type="button">Read More</button>
                </div>
            </article>
            
    
            <article class="service-item service-item-white">
                <div class="front-text">
                    <i ><img src="assets/img/python_logo.png" height="60px" width="60px" alt=""></i>
                    <h1 class="h3">Design & Branding</h1>
                </div>
    
                <div class="back-text">
                    <h1 class="h3">Design & Branding</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid debitis eaque placeat expedita ipsam, nihil et pariatur.</p>
                    <button type="button">Read More</button>
                </div>
            </article>
            
    
            <article class="service-item service-item-black">
                <div class="front-text">
                    <i class="fa fa-pie-chart fa-3x"></i>
                    <h1 class="h3">Analytics</h1>
                </div>
    
                <div class="back-text">
                    <h1 class="h3">Analytics</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid debitis eaque placeat expedita ipsam, nihil et pariatur.</p>
                    <button type="button">Read More</button>
                </div>
            </article>
            
    
            <article class="service-item service-item-white">
                <div class="front-text">
                    <i class="fa fa-line-chart fa-3x"></i>
                    <h1 class="h3">SEO & Smm</h1>
                </div>
    
                <div class="back-text">
                    <h1 class="h3">SEO & Smm</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid debitis eaque placeat expedita ipsam, nihil et pariatur.</p>
                    <button type="button">Read More</button>
                </div>
            </article>
            
        </div>
    </section> -->
<!-- end of services section -->